@model BaldurBillsApp.Models.Prepayment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Prepayment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label"></label>
                <input class="form-control" list="vendors-list" id="vendorInput" placeholder="Start typing to search for a vendor" />
                <datalist id="vendors-list">
                    @foreach (var vendor in ViewBag.vendors)
                    {
                        <option value="@vendor.Text"></option>
                    }
                </datalist>
                <input type="hidden" asp-for="VendorId" id="vendorIdField" />
            </div>
            <div class="form-group">
                <label asp-for="PrepaymentAmount" class="control-label"></label>
                <input asp-for="PrepaymentAmount" class="form-control" />
                <span asp-validation-for="PrepaymentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrepaymentCurrency" class="control-label"></label>
                <input class="form-control" list="currencies-list" id="currencyInput" placeholder="Start typing to search for a currency" />
                <datalist id="currencies-list">
                    @foreach (var currency in ViewBag.CurrencyList)
                    {
                        <option value="@currency.Text"></option>
                    }
                </datalist>
                <input type="hidden" asp-for="PrepaymentCurrency" id="PrepaymentIdField" />
            </div>
            <div class="form-group">
                <label asp-for="PrepaymentDate" class="control-label"></label>
                <input asp-for="PrepaymentDate" class="form-control" />
                <span asp-validation-for="PrepaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemainingAmount" class="control-label"></label>
                <input asp-for="RemainingAmount" class="form-control" />
                <span asp-validation-for="RemainingAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsSettled" class="control-label"></label>
                <input asp-for="IsSettled" class="form-control" />
                <span asp-validation-for="IsSettled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script>
        var vendors = @Html.Raw(Json.Serialize(ViewBag.vendors));
        document.getElementById('vendorInput').addEventListener('input', function () {
            var vendorName = this.value;
            var vendor = vendors.find(v => v.text == vendorName);
            if (vendor) {
                document.getElementById('vendorIdField').value = vendor.value;
            } else {
                document.getElementById('vendorIdField').value = null; 
            }
        });
    </script>
}
}
