@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <a class="nav-link" asp-area="" asp-action="controller="InvoicesList" asp-action="Index">Invoices List</a>
        <a class="nav-link" asp-area="" asp-action="controller="Prepayments" asp-action="Index">Prepayments</a>
        <a class="nav-link" asp-area="" asp-action="controller="CostTypes" asp-action="Index">Cost Types</a>
        <a class="nav-link" asp-area="" asp-action="controller="ToPlnRates" asp-action="Index">Currency Rates</a>
        <a class="nav-link" asp-area="" asp-action="controller="Vendors" asp-action="Index">Vendors</a>
    </p>
</div>
